body {
    background-color: #222;
    color: white;
    display: flex;
    height: 100vh;
    margin: 0;

    font-family: "Courier New", Courier, monospace;
}

button {
    cursor: pointer;
    font-size: 2vh;
    padding: 1vh 2vh;

    background-color: #222;
    color: white;
    border: 1px solid #777;
    margin: 0.5vh;

    &:hover {
        background-color: #333;
    }

    &:active {
        background-color: #444;
    }
}

.container {
    margin: auto;
    display: flex;

    canvas {
        border: 1px solid #777;
    }

    #menu {
        font-size: 2vh;
        margin-left: 20px;
        // padding: 10px;
        padding: 0.5vh;
        display: flex;
        flex-direction: column;
        border: 1px solid #777;

        input {
            font-size: 2vh;
            padding: 0.5vh;
        }

        #new-seed {
            display: flex;
            flex-direction: column;
        }
    }
}

.mt-20 {
    margin-top: 20px;
}
